* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

[class*="col-"] {
  flex: 0 0 auto;
}



.col-1 {
  flex-basis: calc( (100% / 12) * 1 );
  max-width: calc( (100% / 12) * 1 );
  aspect-ratio: 1/1;
}

.col-2 {
  flex-basis: calc( (100% / 12) * 2 );
  max-width: calc( (100% / 12) * 2 );
  aspect-ratio: 2/1;
}
.col-3 {
  flex-basis: calc( (100% / 12) * 3 );
  max-width: calc( (100% / 12) * 3 );
  aspect-ratio: 3/1;
}
.col-4 {
  flex-basis: calc( (100% / 12) * 4 );
  max-width: calc( (100% / 12) * 4 );
  aspect-ratio: 4/1;
}
.col-5 {
  flex-basis: calc( (100% / 12) * 5 );
  max-width: calc( (100% / 12) * 5 );
  aspect-ratio: 5/1;
}
.col-6 {
  flex-basis: calc( (100% / 12) * 6 );
  max-width: calc( (100% / 12) * 6 );
  aspect-ratio: 6/1;
}
.col-7 {
  flex-basis: calc( (100% / 12) * 7 );
  max-width: calc( (100% / 12) * 7 );
  aspect-ratio: 7/1;
}
.col-8 {
  flex-basis: calc( (100% / 12) * 8 );
  max-width: calc( (100% / 12) * 8 );
  aspect-ratio: 8/1;
}
.col-9 {
  flex-basis: calc( (100% / 12) * 9 );
  max-width: calc( (100% / 12) * 9 );
  aspect-ratio: 9/1;
}
.col-10 {
  flex-basis: calc( (100% / 12) * 10 );
  max-width: calc( (100% / 12) * 10 );
  aspect-ratio: 10/1;
}
.col-11 {
  flex-basis: calc( (100% / 12) * 11 );
  max-width: calc( (100% / 12) * 11 );
  aspect-ratio: 11/1;
}
.col-12 {
  flex-basis: calc( (100% / 12) * 12 );
  max-width: calc( (100% / 12) * 12 );
  aspect-ratio: 12/1;
}

/* .flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-row-reverse .col-offset-2 {
  margin-right: calc( (100% / 12) * 2 );
  margin-left: 0;
} */

.col-offset-1 {
  margin-left: calc( (100% / 12) * 1 );
}
.col-offset-2 {
  margin-left: calc( (100% / 12) * 2 );
}
.col-offset-3 {
  margin-left: calc( (100% / 12) * 3 );
}
.col-offset-4 {
  margin-left: calc( (100% / 12) * 4 );
}
.col-offset-5 {
  margin-left: calc( (100% / 12) * 5 );
}
.col-offset-6 {
  margin-left: calc( (100% / 12) * 6 );
}
.col-offset-7 {
  margin-left: calc( (100% / 12) * 7 );
}
.col-offset-8 {
  margin-left: calc( (100% / 12) * 8 );
}
.col-offset-9 {
  margin-left: calc( (100% / 12) * 9 );
}
.col-offset-10 {
  margin-left: calc( (100% / 12) * 10 );
}
.col-offset-11 {
  margin-left: calc( (100% / 12) * 11 );
}


@media all and (min-width: 576px) {

  .col-sm-1 {
    flex-basis: calc( (100% / 12) * 1 );
    max-width: calc( (100% / 12) * 1 );
  }
  
  .col-sm-2 {
    flex-basis: calc( (100% / 12) * 2 );
    max-width: calc( (100% / 12) * 2 );
  }
  .col-sm-3 {
    flex-basis: calc( (100% / 12) * 3 );
    max-width: calc( (100% / 12) * 3 );
  }
  .col-sm-4 {
    flex-basis: calc( (100% / 12) * 4 );
    max-width: calc( (100% / 12) * 4 );
  }
  .col-sm-5 {
    flex-basis: calc( (100% / 12) * 5 );
    max-width: calc( (100% / 12) * 5 );
  }
  .col-sm-6 {
    flex-basis: calc( (100% / 12) * 6 );
    max-width: calc( (100% / 12) * 6 );
  }
  .col-sm-7 {
    flex-basis: calc( (100% / 12) * 7 );
    max-width: calc( (100% / 12) * 7 );
  }
  .col-sm-8 {
    flex-basis: calc( (100% / 12) * 8 );
    max-width: calc( (100% / 12) * 8 );
  }
  .col-sm-9 {
    flex-basis: calc( (100% / 12) * 9 );
    max-width: calc( (100% / 12) * 9 );
  }
  .col-sm-10 {
    flex-basis: calc( (100% / 12) * 10 );
    max-width: calc( (100% / 12) * 10 );
  }
  .col-sm-11 {
    flex-basis: calc( (100% / 12) * 11 );
    max-width: calc( (100% / 12) * 11 );
  }
  .col-sm-12 {
    flex-basis: calc( (100% / 12) * 12 );
    max-width: calc( (100% / 12) * 12 );
  }


  /* offset sm */

  .col-sm-offset-1 {
    margin-left: calc( (100% / 12) * 1 );
  }
  .col-sm-offset-2 {
    margin-left: calc( (100% / 12) * 2 );
  }
  .col-sm-offset-3 {
    margin-left: calc( (100% / 12) * 3 );
  }
  .col-sm-offset-4 {
    margin-left: calc( (100% / 12) * 4 );
  }
  .col-sm-offset-5 {
    margin-left: calc( (100% / 12) * 5 );
  }
  .col-sm-offset-6 {
    margin-left: calc( (100% / 12) * 6 );
  }
  .col-sm-offset-7 {
    margin-left: calc( (100% / 12) * 7 );
  }
  .col-sm-offset-8 {
    margin-left: calc( (100% / 12) * 8 );
  }
  .col-sm-offset-9 {
    margin-left: calc( (100% / 12) * 9 );
  }
  .col-sm-offset-10 {
    margin-left: calc( (100% / 12) * 10 );
  }
  .col-sm-offset-11 {
    margin-left: calc( (100% / 12) * 11 );
  }

}


@media all and (min-width: 768px) {

  .col-md-1 {
    flex-basis: calc( (100% / 12) * 1 );
    max-width: calc( (100% / 12) * 1 );
  }
  
  .col-md-2 {
    flex-basis: calc( (100% / 12) * 2 );
    max-width: calc( (100% / 12) * 2 );
  }
  .col-md-3 {
    flex-basis: calc( (100% / 12) * 3 );
    max-width: calc( (100% / 12) * 3 );
  }
  .col-md-4 {
    flex-basis: calc( (100% / 12) * 4 );
    max-width: calc( (100% / 12) * 4 );
  }
  .col-md-5 {
    flex-basis: calc( (100% / 12) * 5 );
    max-width: calc( (100% / 12) * 5 );
  }
  .col-md-6 {
    flex-basis: calc( (100% / 12) * 6 );
    max-width: calc( (100% / 12) * 6 );
  }
  .col-md-7 {
    flex-basis: calc( (100% / 12) * 7 );
    max-width: calc( (100% / 12) * 7 );
  }
  .col-md-8 {
    flex-basis: calc( (100% / 12) * 8 );
    max-width: calc( (100% / 12) * 8 );
  }
  .col-md-9 {
    flex-basis: calc( (100% / 12) * 9 );
    max-width: calc( (100% / 12) * 9 );
  }
  .col-md-10 {
    flex-basis: calc( (100% / 12) * 10 );
    max-width: calc( (100% / 12) * 10 );
  }
  .col-md-11 {
    flex-basis: calc( (100% / 12) * 11 );
    max-width: calc( (100% / 12) * 11 );
  }
  .col-md-12 {
    flex-basis: calc( (100% / 12) * 12 );
    max-width: calc( (100% / 12) * 12 );
  }

  /* offset md */

  .col-md-offset-1 {
    margin-left: calc( (100% / 12) * 1 );
  }
  .col-md-offset-2 {
    margin-left: calc( (100% / 12) * 2 );
  }
  .col-md-offset-3 {
    margin-left: calc( (100% / 12) * 3 );
  }
  .col-md-offset-4 {
    margin-left: calc( (100% / 12) * 4 );
  }
  .col-md-offset-5 {
    margin-left: calc( (100% / 12) * 5 );
  }
  .col-md-offset-6 {
    margin-left: calc( (100% / 12) * 6 );
  }
  .col-md-offset-7 {
    margin-left: calc( (100% / 12) * 7 );
  }
  .col-md-offset-8 {
    margin-left: calc( (100% / 12) * 8 );
  }
  .col-md-offset-9 {
    margin-left: calc( (100% / 12) * 9 );
  }
  .col-md-offset-10 {
    margin-left: calc( (100% / 12) * 10 );
  }
  .col-md-offset-11 {
    margin-left: calc( (100% / 12) * 11 );
  }

}

@media all and (min-width: 992px) {

  .col-lg-1 {
    flex-basis: calc( (100% / 12) * 1 );
    max-width: calc( (100% / 12) * 1 );
  }
  
  .col-lg-2 {
    flex-basis: calc( (100% / 12) * 2 );
    max-width: calc( (100% / 12) * 2 );
  }
  .col-lg-3 {
    flex-basis: calc( (100% / 12) * 3 );
    max-width: calc( (100% / 12) * 3 );
  }
  .col-lg-4 {
    flex-basis: calc( (100% / 12) * 4 );
    max-width: calc( (100% / 12) * 4 );
  }
  .col-lg-5 {
    flex-basis: calc( (100% / 12) * 5 );
    max-width: calc( (100% / 12) * 5 );
  }
  .col-lg-6 {
    flex-basis: calc( (100% / 12) * 6 );
    max-width: calc( (100% / 12) * 6 );
  }
  .col-lg-7 {
    flex-basis: calc( (100% / 12) * 7 );
    max-width: calc( (100% / 12) * 7 );
  }
  .col-lg-8 {
    flex-basis: calc( (100% / 12) * 8 );
    max-width: calc( (100% / 12) * 8 );
  }
  .col-lg-9 {
    flex-basis: calc( (100% / 12) * 9 );
    max-width: calc( (100% / 12) * 9 );
  }
  .col-lg-10 {
    flex-basis: calc( (100% / 12) * 10 );
    max-width: calc( (100% / 12) * 10 );
  }
  .col-lg-11 {
    flex-basis: calc( (100% / 12) * 11 );
    max-width: calc( (100% / 12) * 11 );
  }
  .col-lg-12 {
    flex-basis: calc( (100% / 12) * 12 );
    max-width: calc( (100% / 12) * 12 );
  }

  /* offset lg */

  .col-lg-offset-1 {
    margin-left: calc( (100% / 12) * 1 );
  }
  .col-lg-offset-2 {
    margin-left: calc( (100% / 12) * 2 );
  }
  .col-lg-offset-3 {
    margin-left: calc( (100% / 12) * 3 );
  }
  .col-lg-offset-4 {
    margin-left: calc( (100% / 12) * 4 );
  }
  .col-lg-offset-5 {
    margin-left: calc( (100% / 12) * 5 );
  }
  .col-lg-offset-6 {
    margin-left: calc( (100% / 12) * 6 );
  }
  .col-lg-offset-7 {
    margin-left: calc( (100% / 12) * 7 );
  }
  .col-lg-offset-8 {
    margin-left: calc( (100% / 12) * 8 );
  }
  .col-lg-offset-9 {
    margin-left: calc( (100% / 12) * 9 );
  }
  .col-lg-offset-10 {
    margin-left: calc( (100% / 12) * 10 );
  }
  .col-lg-offset-11 {
    margin-left: calc( (100% / 12) * 11 );
  }

}


.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #161E8D;
}

.bg-black {
  background-color: black;
}



/* debug */

.debug [class*="col"] {
  /* background-color: cornflowerblue; */
  /* padding: 20px 0; */
  /* border: 2px solid salmon; */
  text-align: center;
}

.debug .framework-resp [class*="col"] {
  /* background-color: salmon; */
  padding: 20px 0;
  border: 1px solid white;
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-col [class*="col"] {
  max-width: 100%;
}